
@{
    ViewData["Title"] = "Add / Remove Codes";
}
@*multiple data-max-options="3"*@
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">

<div class="row">
    <div class="form-group  col-md-4 col-md-offset-4 ">
        <form asp-action="AddRemoveCode" id="myform">
            <div class="panel panel-default">
                <div class="panel-heading font-weight-bold" style="text-align:center;"><strong>Add / Remove Codes</strong></div>
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <strong><label class="font-weight-bold required ">Location Name</label></strong>
                            @{ List<Location> locations = (List<Location>)TempData["locations"];}

                            <select class="selectpicker" data-style="btn-primary" name="site" id="site" data-live-search="true">
                                @foreach (Location loc in locations)
                                {
                                    if (loc.IsFTP == "N")
                                    {
                                        <option value="@loc.Code">@loc.Name</option>

                                    }

                                }
                            </select>


                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <strong><label class="font-weight-bold required ">Accession Codes</label></strong>
                            <textarea name="accession" id="accession" class="form-control">@TempData["accession"]</textarea>
                            @*@Html.ValidationMessage("CustomError", new { style = "color:red;" })*@
                            @*@Html.ValidationSummary(true)*@
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">


                            <strong>     <label><input type="checkbox" name="isTouch" value="y">The Above Codes are touch codes</label> </strong>

                        </div>
                        @*@Html.ValidationMessage("CustomError", new { style = "color:red;" })*@
                        @*@Html.ValidationSummary(true)*@
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">

                            <strong>   <label><input type="radio" name="type" value="add" checked="checked">Add</label></strong>
                            <br>
                            <strong>   <label><input type="radio" name="type" value="remove">Remove</label></strong>
                        </div>
                        @*@Html.ValidationMessage("CustomError", new { style = "color:red;" })*@
                        @*@Html.ValidationSummary(true)*@
                    </div>
                    <div class="form-group row">
                        <strong> <asp:Label ID="Label9" runat="server" ForeColor="Red" Text="Label" Visible="False"></asp:Label></strong>
                        <br />
                        <div class="col-lg-6">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index","Home")'">Cancel</button>
                        </div>
                    </div>


                </div>

            </div>

        </form>
    </div>
</div>


<script>

    $(document).ready(function () {

        $("#myform").validate({
            errorClass: "my-error-class",
            rules: {

                accession: "required"


            },
            messages: {

                accession: "Required"
            }
        });
    });

</script>

@if (TempData["accession"] != null)
{
    <div class="alert alert-danger" id="success-alert" style="text-align:center;position: absolute;top:0;left:0;width:100%;z-index:9999; margin:0 auto;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong> @Html.ValidationMessage("CustomError")</strong>

    </div>
    <script>
        $(document).ready(function () {
            $('#site').val('@TempData["site"]');
            $("#success-alert").fadeTo(5000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });

        });


    </script>
}


